.container,
.editorContainer {
    border-radius: 5px;
    box-shadow: var(--color5) 3px 3px 15px;
    background-color: var(--color4);
}

.editorBtn {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 10px;
    color: #7fffd4;
    border: 0;
}

.editorContainer {
    max-width: 240px;
    position: absolute;
    z-index: 999;
}

.buttonsContainer {
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: max-height 1s ease-in-out;
    overflow: hidden;
    max-height: 1000px;
}

.editorOperator {
    padding: 10px;
}

.slideRight {
    transform: translateX(calc(100vw - 240px));
    transition: all 2.5s;
}

.slideLeft {
    transform: translateX(0);
    transition: all 2.5s;
}

.buttonsContainer.collapsed {
    max-height: 0;
}