.container,
.editorContainer {
    border-radius: 5px;
    /* box-shadow: var(--color5) 3px 3px 15px; */
    /* background-color: var(--color4); */
}

.editorBtn {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 10px;
    border: 0;
    border-radius: 50px;
    background-color: white;
    box-shadow: var(--color5) 0px 0px 15px;
}

.editorContainer {
    max-width: 240px;
    padding: 5px;
    position: absolute;
    top: 0;
}

.buttonsContainer {
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: max-height 1s ease-in-out;
    overflow: hidden;
    max-height: 1000px;
}

.editorOperator {
    padding: 10px;
}

.editorOpBtn {
    border: 0;
    border-radius: 10px;
}

.editElement {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50px;
    border: 0;
    background: url('../assets/pen.svg') no-repeat center #ffffff;
}

.slideRight {
    transform: translateX(calc(100vw - 240px));
    transition: all 2.5s;
}

.slideLeft {
    transform: translateX(0);
    transition: all 2.5s;
}

.buttonsContainer.collapsed {
    max-height: 0;
}

.arrowLeft,
.arrowRight,
.toggler {
    width: 30px;
    height: 30px;
}

.arrowLeft {
    background: url('../assets/arrowLeft.svg');
    background-color: inherit;
    background-repeat: no-repeat;
    background-position: center;
}

.arrowRight {
    background: url('../assets/arrowRight.svg');
    background-color: inherit;
    background-repeat: no-repeat;
    background-position: center;
}

.toggler {
    background: url('../assets/power.svg') no-repeat center transparent;
}

.buttonsContainer>button:nth-child(1) {
    background: url('../assets/editPen.svg') no-repeat center #ffffff;
}

.buttonsContainer>button:nth-child(2) {
    background: url('../assets/deliver.svg') no-repeat center #ffffff;
}

.buttonsContainer>button:nth-child(3) {
    background: url('../assets/deliver.svg') no-repeat center #ffffff;
}

.buttonsContainer>button:nth-child(4) {
    background: url('../assets/megaphone.svg') no-repeat center #ffffff;
}

.buttonsContainer>button:nth-child(5) {
    background: url('../assets/options.svg') no-repeat center #ffffff;
}

.buttonsContainer>button:nth-child(6) {
    background: url('../assets/cog.svg') no-repeat center #ffffff;
}

.buttonsContainer>button:nth-child(7) {
    background: url('../assets/folder.svg') no-repeat center #ffffff;
}

.buttonsContainer>button:nth-child(8) {
    background: url('../assets/box.svg') no-repeat center #ffffff;
}

.buttonsContainer>button:nth-child(9) {
    background: url('../assets/msg.svg') no-repeat center #ffffff;
}

.buttonsContainer>button:nth-child(10) {
    background: url('../assets/cloud.svg') no-repeat center #ffffff;
}